[submodule "extensions/MIH-Resource-Adaptor"]
	path = extensions/MIH-Resource-Adaptor
	url = https://github.com/ATNoG/MIH-Resource-Adaptor.git
[submodule "extensions/MIH-JAVA-Library"]
	path = extensions/MIH-JAVA-Library
	url = https://github.com/ATNoG/MIH-JAVA-Library.git
[submodule "extensions/MIH-CSharp-Library"]
	path = extensions/MIH-CSharp-Library
	url = https://github.com/ATNoG/MIH-CSharp-Library.git
