*.[ao]
*.la
*.lo
*.pc
libnl/Makefile
libnl/config.log
libnl/config.status
libnl/doc/Makefile
libnl/include/Makefile
libnl/lib/.deps/
libnl/lib/.libs/
libnl/lib/Makefile
libnl/lib/cli/cls/.deps/
libnl/lib/cli/cls/.dirstamp
libnl/lib/cli/cls/.libs/
libnl/lib/cli/qdisc/.deps/
libnl/lib/cli/qdisc/.dirstamp
libnl/lib/cli/qdisc/.libs/
libnl/lib/defs.h
libnl/lib/fib_lookup/.deps/
libnl/lib/fib_lookup/.dirstamp
libnl/lib/genl/.deps/
libnl/lib/genl/.dirstamp
libnl/lib/netfilter/.deps/
libnl/lib/netfilter/.dirstamp
libnl/lib/route/.deps/
libnl/lib/route/.dirstamp
libnl/lib/route/cls/.deps/
libnl/lib/route/cls/.dirstamp
libnl/lib/route/cls/ematch/.deps/
libnl/lib/route/cls/ematch/.dirstamp
libnl/lib/route/cls/ematch_grammar.c
libnl/lib/route/cls/ematch_grammar.h
libnl/lib/route/cls/ematch_syntax.c
libnl/lib/route/cls/ematch_syntax.h
libnl/lib/route/link/.deps/
libnl/lib/route/link/.dirstamp
libnl/lib/route/pktloc_grammar.c
libnl/lib/route/pktloc_grammar.h
libnl/lib/route/pktloc_syntax.c
libnl/lib/route/pktloc_syntax.h
libnl/lib/route/qdisc/.deps/
libnl/lib/route/qdisc/.dirstamp
libnl/lib/stamp-h1
libnl/libtool
libnl/man/Makefile
libnl/python/Makefile
libnl/python/netlink/Makefile
libnl/python/netlink/route/Makefile
libnl/python/setup.py
libnl/src/.deps/
libnl/src/Makefile
libnl/src/lib/.deps/
libnl/src/lib/Makefile
libnl/tests/.deps/
libnl/tests/Makefile
